<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RELIABLE_CARE</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginPageServlet</display-name>
    <servlet-name>LoginPageServlet</servlet-name>
    <servlet-class>servlets.LoginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPageServlet</servlet-name>
    <url-pattern>/LoginPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserProfileServlet</display-name>
    <servlet-name>UpdateUserProfileServlet</servlet-name>
    <servlet-class>servlets.UpdateUserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserProfileServlet</servlet-name>
    <url-pattern>/UpdateUserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateStudyGroupServlet</display-name>
    <servlet-name>CreateStudyGroupServlet</servlet-name>
    <servlet-class>servlets.CreateStudyGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateStudyGroupServlet</servlet-name>
    <url-pattern>/CreateStudyGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMyStudyGroupsServlet</display-name>
    <servlet-name>ListMyStudyGroupsServlet</servlet-name>
    <servlet-class>servlets.ListMyStudyGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMyStudyGroupsServlet</servlet-name>
    <url-pattern>/ListMyStudyGroupsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchGroupsServlet</display-name>
    <servlet-name>SearchGroupsServlet</servlet-name>
    <servlet-class>servlets.SearchGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGroupsServlet</servlet-name>
    <url-pattern>/SearchGroupsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinGroupServlet</display-name>
    <servlet-name>JoinGroupServlet</servlet-name>
    <servlet-class>servlets.JoinGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinGroupServlet</servlet-name>
    <url-pattern>/JoinGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveGroupServlet</display-name>
    <servlet-name>LeaveGroupServlet</servlet-name>
    <servlet-class>servlets.LeaveGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveGroupServlet</servlet-name>
    <url-pattern>/LeaveGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGroupServlet</display-name>
    <servlet-name>UpdateGroupServlet</servlet-name>
    <servlet-class>servlets.UpdateGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGroupServlet</servlet-name>
    <url-pattern>/UpdateGroupServlet</url-pattern>
  </servlet-mapping>
</web-app>